<h1><%= @movie.title %></h1>


<h3><%= @movie.rating %></h3>
<h4><%= @movie.year %></h4>
<h5><%= @movie.plot %></h5>
<h6><%= @movie.director %></h6>
<h7><%= @movie.english %></h7>

<label>Click me 
  <input type="text" id="user" name="name" />
</label>

<input type="text" id="comment" name="comment" value="Do you like movies?!"

<input type="checkbox" id="carrots" name="carrots" value="carrots" checked>

<fieldset>
  <legend>What is your favorite meal?</legend>
  <ul>
    <li>
      <label for="spaghetti">Soup</label>
      <input type="radio" id="spaghetti" name="meal" value="spaghetti" checked>
    </li>
    <li>
      <label for="tacos">Curry</label>
      <input type="radio" id="tacos" name="meal" value="tacos">
    </li>
    <li>
      <label for="pizza">Pizza</label>
      <input type="radio" id="pizza" name="meal" value="pizza">
    </li>
  </ul>
</fieldset>

<button type="submit">
    Do <strong>NOT</strong> touch this button.
</button>

<input type="submit" value="This is a submit button">